services:
  app:
    container_name: app
    hostname: app
    build:
      context: .
      dockerfile: src/Dockerfile
    restart: on-failure
    env_file:
      - ./src/.env
    environment:
      STORAGE_URI: "postgresql+asyncpg://admin:admin@postgres/db"
    ports:
      - "8000:8000"
    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    container_name: postgres
    hostname: postgres
    image: postgres:17.2-alpine3.21
    env_file:
      - ./postgres/.env
    ports:
      -  "5432:5432"
    volumes:
      - postgres:/var/lib/postgresql/data
      - ./postgres/migrations:/docker-entrypoint-initdb.d
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U admin -d db" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    restart: unless-stopped

volumes:
  postgres:
